body {
	font-family: sans-serif;
	color: rgb(50, 50, 50);
}

.header {
	width: 100%;
	height: 200px;
	line-height: 200px;
	background-color: darkslategrey;
	color: white;
}

.header a {
	color: white;
	text-decoration: none;
}

.header h1 {
	font-size: 80px;
	text-align: center;
}

.homepage-content {
	width: 100%;
	margin-top: 125px;
}

.homepage-content hr{
	float: left;
    border: none;
    border-left: 1px solid gainsboro;
    height: 30vh;
    width: 1px;
}

.half-box {
	float: left;
	width: 49.5%;
	text-align: center;
}

.button {
	color: white;
	padding: 15px 40px;
	background-color: darkslategrey;
	text-decoration: none;
	transition-duration: 0.3s;
}

.button:hover {
	opacity: 0.75;
	color: rgb(50, 50, 50);
}

/*table {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
}*/

/* Top level table formatting */
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/* Version 5*/
.table100.ver5 tbody tr:nth-child(even) {
  background-color: #e9faff;
}

.table100.ver5 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  position: relative;
}

.table100.ver5 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #002933;
}

.table100.ver5 .row100:hover td {
  color: #fe3e64;
}

.table100.ver5 .hov-column-ver5 {color: #fe3e64;}
.table100.ver5 .hov-column-ver5::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.table100.ver5 .hov-column-head-ver5 {
  background-color: #1a3f48 !important;
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover {
  color: #fe3e64;
}

.table100.ver5 .row100 td:hover:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  border: 1px solid #fe3e64;
}